@import '_variables.scss';

html{
    background-color: $bgColor;
}

body{
    
    .img-list-admin{
        max-width: 80px;
    }

    .absolute{
        position: absolute;
    }

    .img-livre{
        position: relative;
        display: block;
        .absolute{
            right: 0;
            bottom: 0;
        }
    }

    height:2000px;
    background-color: $ctaColor;
    padding: 0 100px;   

    .container-fluid{
        min-width: 1020px;
    }

    .container-fluid{
        .row{
        max-width: 1020px;
        max-height:300px;
    }
    }

    .navbar{
        padding-bottom: 0;
        background-color: $ctbColor !important;
    }

   
    .navigation {
        .page-item.active {
            .page-link {
                background-color: $ctbColor;
            }
        }
    }

    .btn-warning{
        
        background-color: $ctbColor;
        border-color: black;
    }

    .btn-success{
        background-color: $ctbColor;
    }
}
