{% extends 'base-admin.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index', {'role': role}) }}" class="btn btn-success"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>
{% endblock %}
