{% extends 'base-admin.html.twig' %}

{% block title %}Modifier un auteur{% endblock %}

{% block body %}
    <h1>Modifier Auteur</h1>

    {{ include('admin_auteur/_form.html.twig', {'button_label': 'Confirmer'}) }}

    
    <div class="d-flex justify-content-evenly align-items-center">
    <a href="{{ path('admin_auteur_index') }}"  class="btn btn-success"><i class="fa fa-hand-o-left" aria-hidden="true"></i></a>

    {{ include('admin_auteur/_delete_form.html.twig') }}
{% endblock %}
